*~
.gcloudignore
*.bak
.git
.gitignore
#!include:.gitignore
*.md
!README*.md
!libblastjni.so
!sparkblast.jar
*dbs*.json
*ini*.json
big.json
run_spark.sh
pom.xml
pooles.xml
make_jar.sh
CMDS
*.txt
google_connector
src
